# Archivos de configuración de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos generados por .NET (Binarios y Objetos)
bin/
obj/
*.dll
*.pdb
*.cache
*.log
*.csprojAssemblyReference.cache

# Ignorar carpetas específicas dentro del proyecto
API.Application/obj/
API.Application/bin/
WebAPI/obj/
WebAPI/bin/
